#notFound {
  position: relative;
  height: 100vh;
}

#notFound .notFound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notFound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notFound .notFound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notFound .notFound-404 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("./img/bg.jpg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notFound h2 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notFound p {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notFound a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(180deg, #684efb 0.01%, #5a00dd 100.01%);
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #684efb;
  box-shadow: 0px 4px 15px -5px #684efb;
}

.notFound a:hover {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .notFound .notFound-404 {
    height: 142px;
  }
  .notFound .notFound-404 h1 {
    font-size: 112px;
  }
}
